body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
nav{
    align-items:flex-end;
    text-align: right;
}
.logo{
    padding: 10px 0;
    text-align: center;
}
.introducao{
    background-color: #ffa500;
    padding: 60px 10px;   
}
.introducao h1{
    color: #fff;
    font-size: 34px;
    text-align: center;
    margin: 0;
}
.introducao h2{
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.destinos{
    text-align: center;
    padding: 0 10px;
    height: 72%;
    width: 100%;
}
.destinos section{
    text-align: center;
    font-size: 30px;
    color: #686868;
    padding: 0 15px;

}
.destinos article{
    margin: 30px 0;
}
.destinos article{
    max-width: 100%;

}
.destinos article h2{
    font-size: 20px;
    color: #686868;
    margin-bottom: 25px;
}
.destinos article img{
    width: 400px;
    height: 300px;
}
.link-ver{
    padding: 10px 15px;
    background-color: #f7ac23;
    color: blanchedalmond;
    text-decoration: none;
}

.rodape p{
    font-size: 18px;
}

.rodape {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ffa500;
    height: 20%;   
    width: 100%;

}
.rodape h2{
    margin: 10px;
    text-align: left;
    align-items: 20px;
    color:#fff;
    font-size: 16px;
}
.rodape li{
    text-align: left;
    align-items: calc(100% - 35px);
    color:#fff;
    font-size: 15px;    
}
.rodape p{
    margin-top: 7%;
    text-align: right;
    color:#fff;
    font-size: 13px;
}
.centro h1{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
    color:#fff;
    background: #ffa500;
}
.centro p{
    margin: 15px;
    padding: 15px 10px;
    font-size: 12px;
    text-align: center;
    color: #686868;
}
.formulario{
    text-align: center;
    width:100%;

}
.formulario h2{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 15px;
    font-size: 30px;
    text-align: center;
    color:#fff;
    background: #ffa500;

}
.formulario form{
    margin-top: 15px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 15px;
    border: 1px solid #686868;
    padding: 15px;


}
.formulario label{
    font-size: 12px;
    text-align: center;
    color: #686868;

}
.formulario input{
    padding: 5px;
    width: 360px;
    display: block;
}
.formulario textarea{
    width: 360px;
    display: block;

}
@media (min-width: 600px) {
    .introducao {
        padding: 100px 15px;
    }
    .introducao h1{
        font-size: 54px;
    }
    .introducao h2{
        font-size: 38px;
    }
    .destinos article{
        float: left;
        width: calc(33% - 10px);
        margin-left: 10px;
    }
    .rodape h2{
        font-size: 23px;
    }
    .rodape li{
        font-size: 22px;

    }
    img {
        box-sizing: border-box;
    }
    .centro h1{
        font-size: 28px;
    }
    .centro p{
        font-size: 20px;
    }
    .formulario form{
        box-sizing: border-box;
    }
    .formulario label{
        font-size: 18px;
    }

}
.selector-for-some-widget {
    box-sizing: content-box;
  }