body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


h1 {
    margin: 12px;
    font-size: 30px;
    text-align: left;
    align-items: left;
    color: #fff;
    background: #ffa500;
    padding: 15px;
}
h2 {
    margin-left: 5px;
    font-size: 30px;
    padding: 10px;
    color: #686868;

}

.detalhes{
    width: 150px;
    margin-left: 26px;

}

.container {
    display: flex;
    
}

p {
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    color: #686868;


}
.container img{
    margin-top: 4px;
    margin-left: 120px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    width: 320px;
    height: 450px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }
    
